<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="problems.length > 0 && !isLoading ">
   <div class="search-bar">
            <mat-form-field class="prob-bar">
               <mat-icon class="material-icons" matPrefix>search</mat-icon>
               <input matInput type="search" class="search-box" placeholder="Search" class="search-input" [(ngModel)]="searchText">
            </mat-form-field>
   </div>
   <mat-expansion-panel *ngFor="let problem of problems | filter: searchText" >
        <mat-expansion-panel-header>
           <div [className]="problem.solved === 'true' ? 'solved-class' : 'not-solved-class'">
            Problem Title:  {{ problem.title }}
           </div>
        </mat-expansion-panel-header>
        <hr>
        <p *ngIf="problem.solved === 'true'">You solved this question!</p>
        <p class="prob-reason">{{ problem.reasons }} </p>
         <mat-action-row>
            <a *ngIf="userIsAuthenticated" mat-stroked-button color="accent" [routerLink]="['/edit', problem.id]">EDIT</a>
            <button *ngIf="userIsAuthenticated" mat-stroked-button color="warn" (click)="onDelete(problem.id)">DELETE</button>
         </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator 
[length]="totalProbs" 
[pageSize]="rowsPerPage" 
[pageSizeOptions]="pageSizeOptions" 
(page)="onChangedPage($event)"
*ngIf="problems.length > 0">
</mat-paginator>
<p class="no-problem-added mat-body-2" *ngIf="problems.length <= 0 && !isLoading">No Problems added yet</p>