:host {
    display: block;
    margin-top: 1rem;
}

.no-problem-added {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
}

mat-spinner {
    margin: auto;
}

.solved-class {
    color: #374785;
}

.not-solved-class {
    color: #f76c6c;
}

mat-paginator {
    margin-top: 1rem;
}


.material-icons {
    color: white;
}

.search-box {
   outline: none;
   color:  #24305e;
   margin: 1rem 0;
   align-items: flex-end;
}

div.search-bar {
    /* display: flex; */
    align-items: flex-end;
}

.prob-reason {
    white-space:  pre-wrap;
}


.search-input {
   margin: 0 0 0.45rem 0;
}


::ng-deep.mat-form-field-ripple {
 background-color: #374785 !important;;
}

 ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #374785 !important;;
 }

.prob-bar {
    justify-items: flex-end;
}


div.search-bar {
    /* display: flex; */
    align-items: flex-end;
}

.search-input {
    color: white;
}