<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onDemoLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input
                #emailInput="ngModel"
                [ngModel]="demoEmail"
                email
                matInput
                name="email"
                placeholder="E-Mail"
                required
                type="email"
            >
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                #passwordInput="ngModel"
                [ngModel]="demoLoginPassword"
                matInput
                name="password"
                placeholder="Password"
                required
                type="password"
            >
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <br>
        <button *ngIf="!isLoading" mat-raised-button color="accent" type="submit">Demo Log In</button>
    </form>
</mat-card>
